* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a6918085;
    font-family: 'Inconsolata', monospace;
    color: #591E11;
    font-size: 20px;
    font-weight: 500;
}

header {
    padding: 16px 0;
    background-color: #591E11;
    color:#F2D4C9;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header li a {
    font-family: 'Nothing You Could Do', cursive;
    color: #F2D4C9;
    text-decoration: none;
    font-size: 20px;
}

header li a:hover {
    text-decoration: underline;
}

header h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 32px;
    font-weight: normal;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h2,
#contact h2 {
    font-family: 'Nothing You Could Do', cursive;
    color: #591E11;
    font-size: 32px;
    font-weight: normal;
}

#about .image-big img {
    width: 24%;
    margin-top: 10px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#about .social-links img {
    width: 32px;
    align-items: center;
}

#about .quote {
    text-align: right;
    font-style: italic;
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

#about .about-text blockquote ,
#about .about-text p {
    margin-bottom: 16px;
}

#about .container .sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-header {
    padding: 8px 0;
    background-color: #591e1196;
    color:#F2D4C9;
    align-items: center;
}

.sub-header h2,
#contact .sub-header h2 {
    color: #F2D4C9;
    font-size: 32px;
}

#about .sub-header nav li {
    display: inline;
    margin-left: 16px;
}

.about-text {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about .about-text .image {
    width: 250px;
    margin-right: 10px;
}

#about .about-text .image img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 70%;
}

#about .about-text article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 410px;
    margin-top: 10px;
}

#about .about-text article p {
    font-size: 16px;
    max-width: 300px;
}

.container .policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.policy p {
    font-size: 16px;
}

.policy #policy-text1,
.policy #policy-text2 {
    max-width: 50%;
}

#policy-text1 {
    margin-right: 10px;
}

#policy-text2 {
    margin-left: 10px;
}

form {
    margin-top: 8px;
    margin-bottom: 8px;
}
form input,
form textarea,
form button {
    display: block;
    width: 450px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 300px;
}

#contact img {
    object-fit: cover;
    width: 800px;
    height: 450px;
}

form button {
    background-color: #591e119a;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #591E11;
}

input:focus, 
textarea:focus {
    outline: 2px solid #591E11

}

form,
input,
textarea {
        background-color: #dbd1ca85;
        font-family: 'Inconsolata', monospace;
        color: #591E11;
        font-size: 18px;
        font-weight: 500;
    }

button {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
}


footer {
    background-color: #591E11;
    color: #F2D4C9;
    font-family: 'Inconsolata', monospace;
    display: grid;
    place-items: center;
}



